*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    background-color:#DB4D6D;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* 小怪物 */
.monster{
    width:110px;
    height:100px;
    background-color: #e55A54;
    border-radius:20px;
    position: relative;
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation:jumping 0.8s infinite alternate;
}
.monster .eye{
    width:40%;
    height:40%;
    border-radius: 50%;
    background-color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.monster .eye .eyeball{
    width:50%;
    height:50%;
    border-radius:50%;
    background-color:#0C4475;
    animation: eyemove 1.6s infinite alternate;
}
.monster .mouth{
    width:32%;
    height:12px;
    border-radius:12px;
    background-color:#fff;
    margin-top:15%; 
}
.monster::before,
.monster::after{
    content: "";
    display:block;
    width:20%;
    height:10px;
    background-color:#fff;
    border-radius: 10px;
    position: absolute;
    left:50%;
    top:-10px;
}
.monster::before{
    transform: translateX(-70%) rotate(45deg);
}
.monster::after{
    transform: translateX(-30%) rotate(-45deg);
}
.monster.blue{
    background-color:#0C4475;
    animation-delay: 0.5s;
}
.monster.blue .eyeball,
.monster.blue .mouth{
    background-color:#e55A54;
}
/* 跳跃 */
@keyframes jumping{
    0%{
        top:0;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    }
    50%{
        top:0;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    }
    100%{
        top:-50px;
        box-shadow: 0px 120px 50px rgba(0,0,0,0.2);
    }
}

/* 眼睛运动 */
@keyframes eyemove{
    0%,
    10% {
      transform: translate(50%);
    }
    90%,
    100% {
      transform: translate(-50%);
    }
}

h2,h3{
    color:#fff;
    font-size:40px;
    margin-right:50px;
}
/* 第一页 */
.pageLoading{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#0C4475;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:opacity 0.5s 0.5s;

}
.pageLoading .loading{
    width:200px;
    height:8px;
    margin-top:80px;
    border-radius: 5px;
    background-color:#fff;
    overflow: hidden; 
}
.pageLoading .loading .bar{
    background-color:#e55A54;
    width:0%;
    height:100%;
}
.pageLoading.complate {
    opacity: 0;
}
.pageLoading.complate .monster {
    transition: 0.5s;
    transform: scale(0.01) rotate(360deg);
}

