*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background: #080808;
    text-align: center;
    color: white;
}
.container{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 100px auto 60px;
    perspective: 1000px;
}
.container .cube{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .cube img{
    width: 100%;
    height: 100%;
    /* display: block; */
}
.container .cube li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.img1{
    transform: translateZ(150px);
}
.img2{
    transform: rotateX(-180deg) translateZ(151px);
}
.img3{
    transform: rotateY(90deg) translateZ(150px);
}
.img4{
    transform: rotateY(-90deg) translateZ(150px);
}
.img5{
    transform: rotateX(90deg) translateZ(150px);
}

.img6{
    transform: rotateX(-90deg) translateZ(150px);
}

.cube.init{
    transform: translateZ(-150px) rotateX(-15deg) rotateY(18deg);
}

.btnList{
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: 80px 80px;
    justify-content: center;
    grid-gap: 15px;
}
.btnList input{
    width: 105px;
    outline: none;
    border: 2px solid #fafafa;
}
h2{
    margin-bottom: 50px;
}
.btnList input:focus{
    border: 2px solid #ac670c;

}
.cube.show-image-1{
    transform: translateZ(-150px);
}
.cube.show-image-2{
    transform: translateZ(-150px) rotateX(180deg);
}
.cube.show-image-3{
    transform: translateZ(-150px) rotateY(-90deg);
}
.cube.show-image-4{
    transform: translateZ(-150px) rotateY(90deg);
}
.cube.show-image-5{
    transform: translateZ(-150px) rotateX(-90deg);
}
.cube.show-image-6{
    transform: translateZ(-150px) rotateX(90deg);
}

